body {
    margin: 0;
    background: url(src/1667558932_1-sportishka-com-p-samoe-glubokoe-ozero-baikal-krasivo-1.jpg);
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-color: white; /* Убедитесь, что цвет фона установлен */
}

.btn {
    padding: 5px;
}

td {
    width: auto;
}

/* Стили для увеличения кнопок в 300 раз */
button[name="nubex"] {
    padding: 3000px 6000px; /* Увеличивает внутренние отступы */
    font-size: 4800px;       /* Увеличивает размер шрифта */
    width: 45000px;          /* Устанавливает фиксированную ширину */
    height: 15000px;         /* Устанавливает фиксированную высоту */
}

/* Дополнительно: стиль для изображений внутри кнопок */
button[name="nubex"] img {
    width: 90000px;           /* Увеличивает размер изображения */
    height: 9000px;          /* Увеличивает размер изображения */
}
