body {
    margin: 0;
    background: url(src/grass-horizon-cloud-sky-field-meadow-prairie-wind-cumulus-agriculture-plain-grassland-ecosystem-steppe-rural-area-meteorological-phenomenon-grass-family-atmosphere-of-earth-50464.jpg);
    background-position: top center ;
    background-size: cover;
    background-attachment: fixed;
}

.knop {
    margin: 30px ;
    position: fixed;
    }
body {
    margin: 0;
    background: url(src/sinee-nebo-otrazhaetsja-v-gladi-ozera-bajkal.jpg);
    background-position: top center ;
    background-size: cover;
    background-attachment: fixed;
}